# Release data file

release = "6.2"

# Status of the release (alpha, beta, rc, final)
release-status = "alpha"

# Has this version had Long-Term Support (LTS)?
lts = false

# Supported architecture for each distribution
architectures = { 
                  "armbian-8":      [ "armhf", "arm64" ],
                  "armbian-9":      [ "armhf", "arm64" ],
                  "armbian-10":     [ "armhf", "arm64" ],
                  "debian-6":       [ "i386", "amd64" ],
                  "debian-7":       [ "i386", "amd64" ],
                  "debian-8":       [ "i386", "amd64" ],
                  "debian-9":       [ "i386", "amd64" ],
                  "debian-10":      [ "i386", "amd64" ],
                  "ubuntu-10.04":   [ "i386", "amd64" ],
                  "ubuntu-12.04":   [ "i386", "amd64" ],
                  "ubuntu-13.04":   [ "i386", "amd64" ],
                  "ubuntu-14.04":   [ "i386", "amd64" ],
                  "ubuntu-15.10":   [ "i386", "amd64" ],
                  "ubuntu-16.04":   [ "i386", "amd64" ],
                  "ubuntu-18.04":   [ "amd64" ],
                  "ubuntu-20.04":   [ "amd64" ],
                  "rhel-5":         [ "i386", "amd64" ],
                  "rhel-6":         [ "i386", "amd64" ],
                  "rhel-7":         [ "i386", "amd64" ],
                  "rhel-8":         [ "amd64" ],
                  "sles-11"   :     [ "i386", "amd64" ],
                  "sles-12"   :     [ "amd64" ],
                  "sles-15"   :     [ "amd64" ],
                  "slackware-14.1": [ "amd64" ],
                  "slackware-14.2": [ "amd64" ],
                  "aix-5":          [ "ppc" ],
                  "windows-2008r2": [ "amd64" ],
                }

# Roles are package groups
# We should only support server on LTS distro less that 3-4 years old (2 Ubuntu, 2 Debian, 1 RHEL, 1 SLES) 
roles = { 
          "armbian-8":      [ "agent-allinone" ],
          "armbian-9":      [ "agent-allinone" ],
          "armbian-10":     [ "agent-allinone" ],
          "debian-6":       [ "agent-allinone" ],
          "debian-7":       [ "agent-allinone" ],
          "debian-8":       [ "agent-allinone" ],
          "debian-9":       [ "agent-allinone", "relay", "server" ],
          "debian-10":      [ "agent-allinone", "relay", "server" ],
          "ubuntu-10.04":   [ "agent-allinone" ],
          "ubuntu-12.04":   [ "agent-allinone" ],
          "ubuntu-13.04":   [ "agent-allinone" ],
          "ubuntu-14.04":   [ "agent-allinone" ],
          "ubuntu-15.10":   [ "agent-allinone" ],
          "ubuntu-16.04":   [ "agent-allinone" ],
          "ubuntu-18.04":   [ "agent-allinone", "relay", "server" ],
          "ubuntu-20.04":   [ "agent-allinone", "relay", "server" ],
          "rhel-5":         [ "agent-allinone" ],
          "rhel-6":         [ "agent-allinone" ],
          "rhel-7":         [ "agent-allinone", "relay", "server" ],
          "rhel-8":         [ "agent-allinone", "relay", "server" ],
          "sles-11":        [ "agent-allinone" ],
          "sles-12":        [ "agent-allinone", "relay", "server" ],
          "sles-15":        [ "agent-allinone", "relay", "server" ],
          "aix-5":          [ "agent-allinone" ],
          "slackware-14.1": [ "agent-allinone" ],
          "slackware-14.2": [ "agent-allinone" ],
          "windows-2008r2": [ "agent-allinone" ],
        }

# tier 1 are systems that must not fail during a release (community supported or subscription paid)
# tier 2 are systems that are built but may fail to release
tier1 = [
          "debian-9", "debian-10",
          "ubuntu-13.04", "ubuntu-14.04", "ubuntu-15.10", "ubuntu-18.04", "ubuntu-20.04"
          "rhel-6", "rhel-7", "rhel-8",
          "sles-11", "sles-12", "sles-15",
          "aix-5",
          "slackware-14.1", "slackware-14.2",
        ]

# Packages that are built
packages = { 
             "agent-allinone": [ "rudder-agent" ],
             "relay":          [ "rudder-server-relay" ],
             "server":         [ "rudder-reports", "rudder-server-root", "rudder-webapp", "rudder-api-client" ],
           }

# Packages that are architecture dependent (others are independent)
arch-dependent-packages = [ "rudder-agent", "rudder-webapp", "rudder-server-relay" ]

# Internal components versions
components = {
               "cfengine": "3.15"
             }

# Agent versions you can use with this version's server
compatible-agents = [ "5.0", "6.0", "6.1", "6.2" ]

# Versions you can upgrade from directly
supported-upgrade = [ "5.0", "6.0", "6.1", "6.2" ]

