# List operating systems properties

debian = { 
  aliases = [ ]
  package-format = "dpkg"
  name = "Debian"
  codenames = {
    "5": "lenny",
    "6": "squeeze",
    "7": "wheezy",
    "8": "jessie",
    "9": "stretch",
    "10": "buster",
    "11": "bullseye"
  }
}

armbian = { 
  aliases = [ ]
  package-format = "dpkg"
  name = "Armbian"
  codenames = {
    "5": "lenny",
    "6": "squeeze",
    "7": "wheezy",
    "8": "jessie",
    "9": "stretch",
    "10": "buster",
    "11": "bullseye"
  }
}

ubuntu = {
  aliases = [ ]
  package-format = "dpkg"
  name = "Ubuntu"
  codenames = {
    "10.04": "lucid",
    "10.10": "maverick",
    "11.04": "natty",
    "11.10": "oneiric",
    "12.04": "precise",
    "12.10": "quantal",
    "13.04": "raring",
    "13.10": "saucy",
    "14.04": "trusty",
    "14.10": "utopic",
    "15.04": "vivid",
    "15.10": "wily",
    "16.04": "xenial",
    "16.10": "yakkety",
    "17.04": "zesty",
    "18.04": "bionic"
  }
}

rhel = {
  aliases = [ "redhat", "centos" ]
  package-format = "rpm"
  name = "Red Hat Entreprise Linux / CentOS"
  codenames = {
    "3": "RHEL_3",
    "4": "RHEL_4",
    "5": "RHEL_5",
    "6": "RHEL_6",
    "7": "RHEL_7"
    "8": "RHEL_8"
  }
}

fedora = {
  aliases = [ ]
  package-format = "rpm"
  name = "Fedora"
  codenames = {
    "18": "FEDORA_18"
  }
}

sles = {
  aliases = [ "suse" ]
  package-format = "rpm"
  name = "SUSE Linux Enterprise Server"
  codenames = {
    "10sp3": "SLES_10_SP3",
    "11": "SLES_11",
    "12": "SLES_12"
    "15": "SLES_15"
  }
}

slackware = {
  aliases = [ ]
  package-format = "misc/tgz"
  name = "Slackware"
  codenames = {
    "14.1": "slackware-14.1"
    "14.2": "slackware-14.2"
  }
}

aix = {
  aliases = [ ]
  package-format = "rpm"
  name = "AIX"
  codenames = {
    "5": "AIX_5"
  }
}

windows = {
  aliases = [ ]
  package-format = "exe"
  name = "Windows"
}

android = {
  aliases = [ ]
  package-format = ""
  name = "Android"
}

freebsd = {
  aliases = [ ]
  package-format = ""
  name = "FreeBSD"
}

solaris = {
  aliases = [ "sunos" ]
  package-format = "pkg"
  name = "Solaris"
}

