postgresql = {
    "debian-9":     "9.6" 
    "debian-10":    "10.6"
    "ubuntu-18.04": "10.3"
    "ubuntu-20.04": "12.2"
    "rhel-7":       "9.2"
    "rhel-8":       "10.6"
    "sles-12":      "9.4"
    "sles-15":      "10.3"
}


