postgresql = {
    "debian-9":     "9.6"
    "debian-10":    "10.6"
    "debian-11":    "13.4"
    "ubuntu-18.04": "10.3"
    "ubuntu-20.04": "12.2"
    "ubuntu-22.04": "14"
    "rhel-7":       "9.2"
    "rhel-8":       "10.6"
    "rhel-9":       "13.7"
    "sles-12":      "9.4"
    "sles-15":      "10.3"
    "al-2023":      "15.0"
}

python3 = {
    "debian-10":    "3.7"
    "debian-11":    "3.9"
    "ubuntu-18.04": "3.6"
    "ubuntu-20.04": "3.8"
    "ubuntu-22.04": "3.10"
    "rhel-8":       "3.6"
    "rhel-9":       "3.9"
    "sles-15":      "3.6"
    "al-2023":      "3.9"
}

jdk = {
    "debian-10":    "11"
    "debian-11":    "11"
    "ubuntu-20.04": "11"
    "ubuntu-22.04": "11"
    "rhel-8":       "11"
    "rhel-9":       "17"
    "sles-15":      "10"
    "sles-15sp2":   "11"
    "al-2023":      "17"
}
