postgresql = {
    "debian-9":         "9.6"
    "debian-10":        "10.6"
    "debian-11":        "13.4"
    "debian-12":        "15"
    "ubuntu-18.04":     "10.3"
    "ubuntu-20.04":     "12.2"
    "ubuntu-22.04":     "14"
    "rhel-7":           "9.2"
    "rhel-8":           "10.6"
    "rhel-8-Appstream": "13.10"
    "rhel-9":           "13.7"
    "sles-12":          "9.4"
    "sles-15":          "10.3"
    "sles-15sp4":       "14"
    "al-2023":          "15.0"
}

python3 = {
    "debian-10":        "3.7"
    "debian-11":        "3.9"
    "debian-12":        "3.11"
    "ubuntu-18.04":     "3.6"
    "ubuntu-20.04":     "3.8"
    "ubuntu-22.04":     "3.10"
    "rhel-8":           "3.6"
    "rhel-8-Appstream": "3.9"
    "rhel-9":           "3.9"
    "sles-15":          "3.6"
    "sles-15sp4":       "3.10"
    "al-2023":          "3.9"
}

jdk = {
    "debian-10":        "11"
    "debian-11":        "17"
    "debian-12":        "17"
    "ubuntu-20.04":     "17"
    "ubuntu-22.04":     "19"
    "rhel-8":           "11"
    "rhel-8-Appstream": "17"
    "rhel-9":           "17"
    "sles-15":          "10"
    "sles-15sp2":       "11"
    "sles-15sp4":       "17"
    "al-2023":          "17"
}

rust = {
  "debian": {
    "i386,amd64,arm64": {
      "all versions": "musl / Tiers 2"
      "8+" : "libc / Tiers 1"
    }
    "arm32": {
      "all versions": "musl / Tiers 2"
      "8+" : "libc / Tiers 2"
    }
  }
  "ubuntu": {
    "i386,amd64": {
      "all versions": "musl / Tiers 2"
      "14+" : "libc / Tiers 1"
    }
  }
  "rhel": {
    "amd64,arm64,ppc64,ppc64le": {
      "all versions": "musl / Tiers 2"
      "7+": "libc / Tiers 1"
    }
    "ppc64,ppc64le": {
      "all versions": "libc / Tiers 2"
    }
    "i386": {
      "all versions": "musl / Tiers 2"
    }
  }
  "sles": {
    "i386,amd64": {
      "all versions": "musl / Tiers 2"
      "12+": "libc / Tiers 1"
    }
    "ppc64le": {
      "all versions": "libc / Tiers 2"
    }
  }
  "slackware": {
    "i386,amd64": {
      "all versions": "musl / Tiers 2"
      "14.1+": "libc / Tiers 1"
    }
  }
  "aix": {
    "7.1-": "No"
    "7.2+": "Tier3"
  }
  "al": {
    "2": "musl / Tiers 2"
    "2023": "libc / Tiers 1"
  }
}
